clearfix::after{
    content:'';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
table{
    border-collapse:collapse;
}
td,
tr{
    padding:10px 20px;
    border:1px solid black;
}